<!-- main content -->
<div class="agile_info">
    <div class="w3l_form">
        <div class="left_grid_info">
            <h1>Manage Your Business Account</h1>
            <p>Donec dictum nisl nec mi lacinia, sed maximus tellus eleifend. Proin molestie cursus sapien ac eleifend.</p>
            <img src="images/image.jpg" alt="" />
        </div>
    </div>
    <div class="w3_info">
        <h2>Login to your Account</h2>
        <p>Enter your details to login.</p>
        <form ngNativeValidate #f='ngForm' (ngSubmit)="ingresar(f)" method="post">
            <label>Correo Electrónico</label>
            <div class="input-group">
                <span class="fa fa-envelope" aria-hidden="true"></span>
                <input ngModel name="usermail" class="form-control" type="email" placeholder="Ingrese su email" required="">
            </div>
            <label>Contraseña</label>
            <div class="input-group">
                <span class="fa fa-lock" aria-hidden="true"></span>
                <input ngModel name="pasword" class="form-control" type="Password" placeholder="Ingrese su clave" required="">
            </div>
            <div class="login-check">
                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Recuerdame</label>
            </div>
            <button class="btn btn-danger btn-block" type="submit">Login</button >                
      </form>
      <p class="account1">Aún no tienes cuenta? <a [routerLink]="['/register']" routerLinkActive="router-link-active" >Ingresa aquí</a></p>
    </div>
  </div>
  <!-- //main content -->